{% extends "base_generic2.html" %}

{% load rest_framework %}

{% block content %}

<h1>Компетенции </h1>
<h2 style="font-size: 20px">Как определить необходимые компетенции</h2>
<p>Вы поставили себе карьерную цель, теперь нужно понять, какие компетенций вам не хватет, чтобы ее достичь. Для этого
    посмотрите открытые вакансии и выпишите компетенции, которыми не владеете или владеете недостаточно. Укажите
    свой уровень владения. </p>
<p>Например, вы маркетолог и хотите устроиться на позицию директора по маркетингу. Вы зашли на
    HeadHunter и посмотрели вакансии. В этих вакансиях часто упоминаются «владеть качественными и количественными
    методиками маркетинговых исследований». Вы умеете проводить качественные исследования, а о количественных только
    слышали. Вот так можете заполнить форму:</p>
<ul>
    <li>Запишите в необходимые компетенции «количественные методики маркетинговых исследований». </li>
    <li>Оцените, в какой степени вы сладеете компетенцией сейчас и нажмите «Добавить в ИПР». </li>
    <li>Подумайте и напишите, какое обучение вам нужно пройти, чтобы освоить кампетенцию.</li>
    <li>Поставьте срок, когда планируете закончить обучение.</li>
    <li>Напишите, как вы попрактикуете новые знания.</li>
    <li>Укажите срок выполнения практического задания.</li>
</ul>
<p>Если нужно добавить несколько
    компетенций, заполните форму несколько раз.</p>

<table border="0", width="100%">
   <tr>
        <th></th>
        <th></th>
   </tr>
   <tr>
    <td width="60%">
        <form action="{% url 'competence' %}" method="POST">
            {% csrf_token %}
            {% render_form serializer %}
            <input type="submit" value="Добавить в ИПР">
        </form>
    </td>
    <td width="40%"></td>
  </tr>
 </table>

<br><br>
    <form action="{% url 'pdp' %}" target=>
        <button>Готово</button>
        </form>
<br><br>
{% endblock %}