{% extends "base_generic2.html" %}

{% load rest_framework %}

{% block content %}

<h1>Карьерная цель </h1>
<h2 style="font-size: 20px">Как поставить карьерную цель</h2>
<p>В этом разделе будем описывать только ближайший шаг, не заглядывая далеко в будущее. Например, вы студент,
    а хотите стать министром промышленности. Не стоит так писать, потому что это глобальная цель.
    Запишите ее в разделе «Идеи на будущее».
</p>

<p>Здесь ставьте ближайшую карьерную цель из текущей позиции, например, вы Junior разработчик на Python, значит,
    ближайшая цель — стать Middle разработчиком. Или вы работаете маркетологом в небольшой компании,
    а хотите работать в крупной и известной.
</p>

<p>Подумали? А теперь поставьте ближайшую карьерную цель.</p>

<h2 style="font-size: 20px">Что такое цель по SMART</h2>
<p>SMART — это техника постановки эффективных целей в менеджменте. Цель должна быть:
</p>

{% load static %}
<img
  src="{% static 'media/smart.jpg' %}"
  alt="My image"
  style="width:800px;height:450px;" />
<br><br><br>
<p>Опишите вашу цель в этих 5 характеристиках. Например: к 1 сентября 2024 года я хочу устроиться маркетологом
    в крупную компанию уровня «Сбер» и «Яндекс» с зарплатой от 130 000 ₽.
</p>
<p>А теперь запишите все и поставите дату.</p>

<table border="0", width="100%">
   <tr>
        <th></th>
        <th></th>
   </tr>
   <tr>
    <td width="60%"><form action="{% url 'pdp_creation' %}" method="POST">
        {% csrf_token %}
        {% render_form serializer %}
        <input type="submit" value="Сохранить">
    </form></td>
    <td width="40%"></td>
  </tr>
 </table>

<br><br>
{% endblock %}