{% extends "base_generic.html" %}

{% block content %}

<h1>FOCUS</h1>
  <em>приложение, которое помогает держать ваши цели в фокусе</em>
<br><br>

{% load static %}
<img
  src="{% static 'media/home_page.jpg' %}"
  alt="My image"
  style="width:450px;height:250px;" />

<br><br>
  <p>В начале каждого года многие из нас строят планы. Мы хотим найти более интересную или высокооплачиваемую работу.
    Хотим сбросить несколько килограммов и начать заниматься спортом. Хотим поехать в отпуск мечты или купить какую-то
    дорогую вещь. </p>

  <p>В конце года часто оказывается, что многие планы не реализовались, хотя казалось бы, можно было сделать больше.
    Причин тому чаще всего две: из-за рутины мы потеряли фокус на цели и приложили недостаточно усилий, либо изначально
    запланировали слишком много.</p>

  </p>В этом приложении вы можете собрать все свои жизненные цели, профессиональные и личные. Затем приложение будет
  регулярно отправлять вам письма с напоминанием о ваших планах. Это поможет вам ничего не упустить и не забыть.
  А если вы поймете, что запланировали слишком много, то откорректируете планы и поставите более реалистичные сроки. </p>

  </p>В приложении есть 4 типа целей:</p>
    <ul>
      <li>Индивидуальный план профессионального развития (ИПР).</li>
      <li>Личные желания, вроде похудеть, начать заниматься спортом, бросить курить.</li>
      <li>Идеи на будущее, которые нельзя реализовать прямо сейчас, например: написать книгу, открыть бизнес и т.д.</li>
    </ul>

</p>Чтобы начать работу, войдите или зарегистрируйтесь.


{% endblock %}